body {
    background-color: rgb(221, 221, 221);
}

a {
    text-decoration: none;
    color: black;
}

main,
#tbody {
    background-color: white;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;

}



#admin-btn {
    display: inline-block;
    margin: 25px 0;
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: rgb(233, 233, 233);
    padding: 0.5em 0.5em;
}


h1 {
    font-size: 50px;

}

