* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    background-color: rgb(221, 221, 221);
    margin: 0 auto;
}

h2 {
    margin-bottom: 50px;
    font-family: Arial black;
    text-align: center;
    padding-top: 30px;
}

a,
button,
#Back-btn,
#Submit-btn {
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: rgb(233, 233, 233);
    padding: 0.5em 0.5em;
    border: none;
}

main {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 50px 30px;
    min-height: 100vh;
}

#new-post-btn {
    display: inline-block;
    margin-bottom: 20px;
}

#to-blog-btn {
    display: inline-block;
    margin-bottom: 10vh;
}

#admin-overview-table {
    border-collapse: collapse;
    width: 100%;
}


#admin-overview-table th,
#admin-overview-table td {
    border: 1px solid grey;
    padding: 20px;
    font-family: Arial;
}

#admin-overview-table tr {
    height: 50px;
    
}

.error-message {
    font-weight: 700;
    color: red;
    font-size: 18px;
}


textarea {
    font-family: Arial;
    font-size: 13px;
    border-radius: 20px;
    padding: 10px;
    width: 500px;
    height: 250px;
}
